@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col">
        <h1>Your personal gradebook</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    @*<th><label asp-for="Grades[0].Acronym"></label></th>*@
                    <th>@Html.DisplayNameFor(m => m.Grades.FirstOrDefault().Acronym)</th>
                    <th>@Html.DisplayNameFor(m => m.Grades.FirstOrDefault().Subject)</th>
                    <th>@Html.DisplayNameFor(m => m.Grades.FirstOrDefault().ValWithMinus)</th>
                    <th>@Html.DisplayNameFor(m => m.Grades.FirstOrDefault().WeightAlpha)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Grades)
                {
                    <tr>
                        <td>@item.Acronym</td>
                        <td>@item.Subject</td>
                        <td>@item.ValWithMinus</td>
                        <td>@item.WeightAlpha</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
</div>
